.home_btn_address{
    color: #fff ;
    float: right;
    margin-top: 0px;
}

.inner_address_div{
    width: 350px;
    height: auto;
    border: 1px solid #00ffaa;
    /* margin-top: 20px; */
    padding: 20px;
    text-align: center;
}

.address_div label{
  margin-left: 40px;
  font-size: 20px;
}
.address_div textarea{
    padding: 30px 80px;
    border: 1px solid #00ffaa;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    margin-left: 40px;
}

.address_submit_btn{
    border: 1px solid #00ffaa;
    background-color: transparent;
    color: #fff;
    padding: 10px 140px;
    border-radius: 20px;
    margin-left: 38px;

}

@media only screen and (max-width: 930px){
    .home_btn_address{
        color: #fff ;
        float: right;
        margin-top: 0px;
    }
    
    .inner_address_div{
        width: 250px;
        height: auto;
        border: 1px solid #00ffaa;
        /* margin-top: 40px; */
        padding: 20px;
        text-align: center;
    }
    
    .address_div label{
      margin-left: 40px;
      font-size: 20px;
    }

    .address_div textarea{
        padding: 30px 20px;
        border: 1px solid #00ffaa;
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        margin-left: 40px;
    }
    
    .address_submit_btn{
        padding: 10px 110px;
        border-radius: 20px;
        margin-left: 39px;
    
    }
}

@media only screen and (max-width: 350px){
    .home_btn_address{
        color: #fff ;
        float: right;
        margin-top: 0px;
    }
    
    .inner_address_div{
        width: 190px;
        height: auto;
        border: 1px solid #00ffaa;
        /* margin-top: 40px; */
        padding: 20px;
        text-align: center;
    }
    
    .address_div label{
      margin-left: 40px;
      font-size: 20px;
    }

    .address_div textarea{
        padding: 30px 10px;
        border: 1px solid #00ffaa;
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .address_submit_btn{
        padding: 10px 110px;
        border-radius: 20px;
        margin-left: 10px;
    
    }
}
