.table_container{
   background-color: transparent;
}

.checkout_small_div{
    display: flex;
    justify-content: space-between;
}

.home_btn a{
    color: #fff;
}

thead tr th:nth-child(1){
    padding: 20px 50px;
}

thead tr th:nth-child(2){
    padding: 20px 200px;
}

thead tr th:nth-child(3){
    padding: 20px 100px;
}

tbody tr td:nth-child(1){
    text-align: center;
}

.product_name{
    font-size: 20px;
    font-weight:600;
    padding-top: 10px;
}

.product_price{
    font-size: 30px;
    text-align: center;
}

tfoot tr td{
    font-size: 25px;
    padding: 20px;
}
tfoot tr td:nth-child(2){
        text-align: center;
}

tfoot tr td:nth-child(3){
    text-align: center;
}

.btn1{
    padding: 20px 30px;
    border: 1px solid #00ff9d;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 460px;
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
}

.btn2{
    padding: 20px 30px;
    border: 1px solid #00ff9d;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
}

.remove_btn{
    padding: 10px 0px;
    border: 1px solid #00ff9d;
    border-radius: 20px;
    color: #fff;
    background-color: red;
}


.remove_btn:hover{
    border: 1px solid #ff0000;
    border-radius: 20px;
    color: #fff;
    background-color: transparent;
    transition: 0.3s;
}

.h4_nothing_in_the_cart{
    color: red;
    font-size: 25px;
    margin-top: 50%;
    text-align: center;
}


@media only screen and (max-width: 930px){
    .table_container{
        
        background-color: transparent;
     }
     
     thead tr th:nth-child(1){
         padding: 10px 25px;
     }
     
     thead tr th:nth-child(2){
         padding: 10px 50px;
     }
     
     thead tr th:nth-child(3){
         padding: 10px 50px;
     }
     
     tbody tr td:nth-child(1){
         text-align: center;
     }
     
     .product_name{
         font-size: 15px;
         font-weight:600;
         padding-top: 10px;
     }
     
     .product_price{
         font-size: 30px;
         text-align: center;
     }
     
     tfoot tr td{
         font-size: 25px;
         padding: 20px;
     }
     tfoot tr td:nth-child(2){
        text-align: center;
     }
     
     tfoot tr td:nth-child(3){
         text-align: center;
     }

     .btn1{
        padding: 15px 15px;
        border: 1px solid #00ff9d;
        border-radius: 20px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 10px;
        background-color: transparent;
        color: #fff;
    }
    
    .btn2{
        padding: 15px 15px;
        border: 1px solid #00ff9d;
        border-radius: 20px;
        background-color: transparent;
        color: #fff;
        margin-left:60px;

    }
     
}