.text{
    text-align: center;
    margin-top: 10px;

}

.order_id{
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff;
    margin-top: 20px;
}

.payment_option_checkbox_container{
    font-size: 30px;
    border: 1px solid #fff;
}

.payment_option_checkbox_container{
    color: rgb(6, 246, 6);
}


.payment_option{
    margin:20px 0px;
}

.btn_nxt{
    padding: 10px 60px;
    border-radius: 20px;
    border: 1px solid #00ff77;
    background-color:transparent;
    color: #fff;
    margin-top: 10px;
}

@media only screen and (max-width: 930px){
.text{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;

}

.order_id{
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff;
    margin-top: 20px;
    color: blueviolet;
}


.payment_option_checkbox_container{
    font-size: 25px;
    text-align: center;
}

.payment_option_checkbox_container{
    color: rgb(6, 246, 6);
}


.payment_option{
    margin:10px 0px;
}

}