 .con{
    margin-top: 30%;
    /* background-color: red; */
}

.latest_view_btn{
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px solid #261c1c;
    color: #fff;
    font-size: 15px;
    background: transparent;
    margin-bottom: 2px;
}

.latest_view_btn:hover{
    scale: 0.8;
    transition: 0.3s;
    background-color: rgba(62, 62, 62, 0.216);
}

.latest_add_to_cart_btn{
    border: 1px solid #261c1c;
    color: #fff;
    font-size: 15px;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.latest_add_to_cart_btn:hover{
    scale: 0.8;
    transition: 0.3s;
    background-color: rgba(62, 62, 62, 0.216);
}

.latest_product_cart{
    height: auto;
    width: 250px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #dadada;
    border-radius: 20px;
   margin-top: 20px;
}

.latest_product_img{
    height: 200px;
    width: 235px;
}

.latest_product{
   display: grid;
   grid-template-columns:auto auto auto auto;
   grid-column-gap: 100px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    color: #fff;
}

@media only screen and (max-width: 930px){
    .latest_product_cart{
        height: auto;
        width: 270px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #dadada;
        border-radius: 20px;
        margin-top: 10px;
        
    }
    
    .latest_product_img{
        height: 170px;
        width: 240px;
    }
    
    .latest_product{
        grid-template-columns:auto auto;
        gap: 0;
    }

    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
        color: #fff;
    }

    .con{
        margin-top: 35%;
    }
}

@media only screen and (max-width: 868PX){


    .latest_product_cart{
        height: auto;
        width: 250px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #dadada;
        border-radius: 20px;
        margin-top: 10px;
    }
    
    .latest_product_img{
        height: 160px;
        width: 230px;
    }
    
    .latest_product{
        grid-template-columns:auto auto auto;
        gap:0px;
    }

    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
        color: #fff;
    }

    .con{
        margin-top: 65%;
    }
}


@media only screen and (max-width: 560px){ 
    .latest_product_cart{
        height: auto;
        width: 160px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #dadada;
        border-radius: 20px;
        margin-top: 10px;
        
    }
    
    .latest_product_img{
        height: 100px;
        width: 143px;
    }
    
    .latest_product{
        grid-template-columns:auto auto;
        gap: 0;
    }
    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
        color: #fff;
    }
    .con{
        margin-top: 90%;
    }
    
} 

