.product_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_header a{
    color: #fff;
    padding-right: 20px;
    font-size: 25px;
    display: flex;
    float: right;
}

.view_btn{
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px solid #00ffe5;
    color: #fff;
    font-size: 15px;
    background: transparent;
    margin-bottom: 2px;
}

.view_btn:hover{
    scale: 0.8;
    transition: 0.3s;
    background-color: rgba(62, 62, 62, 0.216);
}

.add_to_cart_btn{
    border: 1px solid #00ffe5;
    color: #fff;
    font-size: 15px;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.add_to_cart_btn:hover{
    scale: 0.8;
    transition: 0.3s;
    background-color: rgba(62, 62, 62, 0.216);
}

.product_cart{
    height: auto;
    width: 250px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #dadada;
    border-radius: 20px;
   margin-top: 20px;
}

.product_img{
    height: 200px;
    width: 235px;
}

.prod_container{
   display: grid;
   grid-template-columns:auto auto auto auto;
   grid-column-gap: 100px;
}

.ul_for_pagination{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul_for_pagination li{
    padding: 10px 15px;
    border: 1px solid #fff;
    margin-top: 200px;
}
/* 
.ul_for_pagination li:hover{
    scale: 0.8;
    transition: 0.5s;
} */





@media only screen and (max-width: 930px){
    .product_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .product_header a{
        color: #fff;
        padding-right: 95PX;
        font-size: 25px;
        
    }
    
    .product_cart{
        height: auto;
        width: 270px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #dadada;
        border-radius: 20px;
        margin-top: 10px;
        
    }
    
    .product_img{
        height: 170px;
        width: 240px;
    }
    
    .prod_container{
        grid-template-columns:auto auto;
        gap: 0;
    }
    
    
.ul_for_pagination li{
    padding: 10px 15px;
    border: 1px solid #fff;
    margin-top: 20px;
}

}

@media only screen and (max-width: 868PX){
    .product_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .product_header a{
        color: #fff;
        padding-right: 95PX;
        font-size: 25px;
        
    }
    
    .product_cart{
        height: auto;
        width: 250px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #dadada;
        border-radius: 20px;
        margin-top: 10px;
        
    }
    
    .product_img{
        height: 160px;
        width: 230px;
    }
    
    .prod_container{
        grid-template-columns:auto auto auto;
        gap:0px;
    }
    
}


@media only screen and (max-width: 560px){
    .product_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .product_header a{
        color: #fff;
        padding-right: 20PX;
        font-size: 25px;
        
    }
    
    .product_cart{
        height: auto;
        width: 160px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #dadada;
        border-radius: 20px;
        margin-top: 10px;
        
    }
    
    .product_img{
        height: 100px;
        width: 143px;
    }
    
    .prod_container{
        grid-template-columns:auto auto;
        gap: 0;
    }
    
}