.main_profile_component{
    display:flex;
    align-items: center;
    justify-content: center; 
}

.profile_component input{
    padding: 15px 60px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 15px;
    background-color: transparent;
    color: #fff;
}

.img{
    padding: 15px 40px;
   
}

.profile_component h1{
    text-align: center;
}

.submit_btn{
    background-color: transparent;
    color: #fff;
    padding:15px 140px;
    border:1px solid #00ffb7;
    border-radius: 20px;
    margin-left: 15px;
}

.submit_btn:hover{
   scale: 0.8;
   transition: 0.3s;
}

.home_btn{
    float: right;
    color: #fff;
}

select{
    padding: 10px 100px;
    background-color: transparent;
    border: 1px solid #fff;
    color: rgb(0, 255, 234);
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 32px;
    margin-top: 10px;
}


@media only screen and (max-width: 930px){
    .profile_component{
       width:300px;
    }

    
tfoot tr td{
    font-size: 25px;
    padding: 20px;
}
tfoot tr td:nth-child(2){
        text-align: center;
}

tfoot tr td:nth-child(3){
    text-align: center;
}

    .profile_component input{
        padding: 10px 30px;
        margin-left:30px ; 
    }

    .profile_component label{
        margin-left:30px ; 
    }
    
    .profile_component h1{
        font-size: 20px;
        width: 200px;
        margin-left: 20px;
    }
    
    .submit_btn{
        background-color: transparent;
        color: #fff;
        padding:15px 140px;
        border:1px solid #00ffb7;
        border-radius: 20px;
        margin-left:30px ; 
    }
    
    .submit_btn:hover{
       scale: 0.8;
       transition: 0.3s;
    }
    
    .home_btn{
        float: right;
        color: #fff;
    }

    
select{
    padding: 10px 100px;
    background-color: transparent;
    border: 1px solid #fff;
    color: rgb(0, 26, 255);
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 10px;
}
    
}