.main_register_component{
    display:flex;
    align-items: center;
    justify-content: center; 
}

.register_component input{
    padding: 15px 60px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 15px;
    background-color: transparent;
    color: #fff;
}

.register_component h1{
    text-align: center;
}

.submit_btn{
    background-color: #dadada;
    color: #fff;
    padding:15px 140px;
    border:1px solid #00ffb7;
    border-radius: 20px; 
}

.submit_btn:hover{
   scale: 0.8;
   transition: 0.3s;
}

.home_btn{
    float: right;
    color: #fff;
}

.note_text{
    opacity: 0.5;
    text-align: center;
}

.note_text strong{
    color: red;
    opacity: 1;
}

.success_text{
    color: #77ff72;
}

.error_text{
    margin: 20px 0px;
    font-size: 18px;
    color: red;
    border: 1px solid red;
    text-align: center;
}

textarea{
    padding: 15px 70px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 10px;
    background-color: transparent;
    color: #fff;
    margin-left: 50px;
}


@media only screen and (max-width: 930px){
    .register_component input{
        padding: 10px 60px;
        margin-left:50px ; 
    }

    .register_component label{
        margin-left:50px ; 
    }
    
    .register_component h1{
        text-align: center;
    }
    
    .submit_btn{
        background-color: #dadada;
        color: #fff;
        padding:15px 140px;
        border:1px solid #00ffb7;
        border-radius: 20px;
        margin-left:50px ; 
    }
    
    .submit_btn:hover{
       scale: 0.8;
       transition: 0.3s;
    }
    
    .home_btn{
        float: right;
        color: #fff;
    }
    
}