.seller_container{
    height: auto;
    width: 600px;
    background-color: #ffffff;
    font-size: 24px;
    border: 1px solid #00fff2;
    margin-top: 20px;
    text-align: center;
    padding: 20px 0px;
}

/* .main_seller_container{
    display: flex;
    justify-content: space-between ;
} */

.home_seller a{
    float:right;
    color: #fff;
}

.total_product_box{
    margin-top: 20px;
    height: 150px;
    width: 600px;
    border: 1px solid #00fff2;
    text-align: center;
    margin-bottom: 10px;
}

.total_product_box h3{
    font-size: 100px;
}

.order_box{
    height: 150px;
    width: 600px;
    border: 1px solid #00fff2;
    text-align: center;
    margin-bottom: 10px;

}


.total_customer{
    height: 150px;
    width: 600px;
    border: 1px solid #00fff2;
    text-align: center;
    margin-bottom: 10px;

}

.order_box h3{
    font-size: 100px;
}

.total_customer h3{
    font-size: 100px;
}

.seller_list{   
/* padding: 20px; */
}

hr{
    margin: 10px 0px;
    background-color:#000;
}

.seller_list a{   
    color: #000;
}

@media only screen and (max-width: 930px){

    .seller_container{
        height: auto;
        width: 220px;
        background-color:rgb(255, 255, 255);
        font-size: 20px;
        border: 1px solid #00fff2;
        margin-top: 20px;
    }
    
    
    .home_seller a{
        float:right;
        color: #fff;
        font-size: 30px;
    }
    
.total_product_box{
    margin-top: 20px;
    height: 150px;
    width: 100%;
    border: 1px solid #00fff2;
    text-align: center;
    margin-bottom: 10px;
}

.total_product_box h3{
    font-size: 100px;
}

.order_box{
    height: 150px;
    width: 100%;
    border: 1px solid #00fff2;
    text-align: center;
    margin-bottom: 10px;

}


.total_customer{
    height: 150px;
    width: 100%;
    border: 1px solid #00fff2;
    text-align: center;
    margin-bottom: 10px;

}

.order_box h3{
    font-size: 100px;
}

.total_customer h3{
    font-size: 100px;
}
}